.Movie {
  width: 90vw;
  margin: auto;
}
.Movie h1{
  color:#4db6ac;
  font-size:2.5rem;
  margin-left:3rem;
  padding-top:3rem;
}
.Movie h2 {
  padding: 15px 0;
  font-size: 1.7em;
  color:white;
}
