.cards {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 350px 120px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: #242526;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
}
.cards-image {
  grid-area: image;
}
.cards-text {
  grid-area: text;
}
.cards-stats {
  grid-area: stats;
}
.cards-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 100%;
}
.cards-text {
  grid-area: text;
}
.cards-text h2 {
  text-align: left;
  margin: 0 10px;
  font-size: 1.4rem;
}
.cards-text p {
  text-align: left;
  margin: 0 10px;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
}
.cards-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: grey;
}
.cards-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 3px;
}
.cards-stats .value p {
  font-size: 1.4rem;
  color: white;
}
.cards:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.cards {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}
