.Movie {
  width: 90vw;
  margin: auto;
}
.Movie h1 {
  color: rgb(29, 145, 171);
  font-size: 2.8rem;
  margin-left: 3rem;
  padding-top: 3rem;
  font-weight: 500;
}
.Movie h2 {
  padding: 15px 0;
  font-size: 1.7em;
  color: white;
}
