.nav h1 {
  color: whitesmoke;
  font-size: 2.8rem;
  margin-left: 3rem;
  padding-top: 3rem;
  font-weight: 500;
}
.nav h2 {
  padding: 15px 0;
  font-size: 1.7em;
  color: white;
}
.nav {
  text-align: center;
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.nav ul {
  text-align: right;
}
.nav ul li {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.nav ul li :hover {
  color: rgba(199, 225, 249, 0.968);
}
